################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/VariablesTC/.vs/VariablesTC/FileContentIndex/3b98053a-046e-4d69-9034-2e893ed0337f.vsidx
*.vsidx
